<div class="uk-width-1-1 uk-panel uk-panel-box uk-margin-bottom">
	<button class="uk-button" ng-click="thisWeek()" ng-class="{'uk-button-primary':sb==='week'}">Diese Woche</button>
	<button class="uk-button" ng-click="thisMonth()" ng-class="{'uk-button-primary':sb==='month'}">Diesen Monat</button>
	<table class="uk-table uk-width-1-1">
		<thead>
			<tr>
				<th>Rang</th>
				<th>Name</th>
				<th><a href="" ng-click="order('-distance')" ng-class="{'underline':ordnung==='-distance'}">Distanz</a></th>
				<th><a href="" ng-click="order('-total_elevation_gain')" ng-class="{'underline':ordnung==='-total_elevation_gain'}">Höhenmeter</a></th>
				<th><a href="" ng-click="order('-moving_time')" ng-class="{'underline':ordnung==='-moving_time'}">Zeit</a></th>
				<th><a href="" ng-click="order('-average_speed')" ng-class="{'underline':ordnung==='-average_speed'}">Schnitt</a></th>
				<th><a href="" ng-click="order('-max_distance')" ng-class="{'underline':ordnung==='-max_distance'}">Längste</a></th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in score | orderBy:ordnung">
			<td>{{$index+1}}</td>
			<td><athlete strava-id="{{item.athlete}}"><b>{{rider.firstname}} {{rider.lastname}}</b></athlete></td>
			<td>{{item.distance/1000 | number:2}} km</td>
			<td>{{item.total_elevation_gain | number:2}} m</td>
			<td>{{item.moving_time | secondsToDateTime | date:'dd HH:mm:ss'}}</td>
			<td>{{item.average_speed | number:2}} km/h</td>
			<td>{{item.max_distance / 1000 | number:2}} km</td>
		</tr>
		</tbody>
	</table>
</div>
<div class="uk-width-1-1 uk-panel uk-panel-box">
	<table class="uk-table uk-width-1-1">
		<tr ng-repeat="item in rides | orderBy:'-start_date_local'">
			<td style="width:100px">
				<athlete strava-id="{{item.athlete}}">
					<img ng-src="{{rider.avatar}}" class="uk-thumbnail uk-thumbnail-mini" style="width:70px">
				</athlete>
			</td>
			<td>
				<p class="uk-text-small uk-text.muted">{{(item.start_date_local*1000) | date:'dd.MM.yyyy HH:mm'}}</p>
				<p class="uk-text-bold">{{item.title}}</p>
				<p athlete strava-id="{{item.athlete}}">{{rider.firstname}} {{rider.lastname}}</p>
				<p class="uk-text-muted">{{item.distance/1000 | number:2}}km {{item.moving_time | secondsToDateTime | date:'HH:mm:ss'}} {{item.total_elevation_gain}}m</p>

			</td>
			<td style="width:140px">
				<img ng-if="item.map" ng-src="http://maps.googleapis.com/maps/api/staticmap?sensor=false&size=130x130&path=weight:3%7Ccolor:red%7Cenc:{{item.map}}&key=AIzaSyB5vK8TcQVN3RHyhbAQ1HDHNFAWBcVgekI">
			</td>
		</tr>
	</table>
</div>