<div class="uk-width-1-1 uk-panel uk-panel-box">
	<table class="uk-table">
		<tr ng-repeat="item in score | orderBy:'-distance'">
			<td>{{$index+1}}</td>
			<td><athlete strava-id="{{item.athlete}}">{{rider.firstname}} {{rider.lastname}}</athlete></td>
			<td>{{item.distance/1000 | number:2}} km</td>
			<td>{{item.total_elevation_gain | number:2}} m</td>
			<td>{{item.moving_time | secondsToDateTime | date:'dd HH:mm:ss'}}</td>
			<td>{{item.average_speed | number:2}} km/h</td>
		</tr>
	</table>
</div>